nav.navbar {
  padding: 15px;
  background: #2c3e50;

  a {
    color: #fff;
    padding: 15px;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }

  .navbar-right {
    float: right;
  }
}


